:root {
    --dark-blue: #10141E;
    --text-color: #fff;
    --media-card-body-text-color: hsla(0deg, 0%, 255%, .75);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--dark-blue);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.recommended-section__title {
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 24px;

    @media (min-width: 768px) {
        font-size: 2rem;
    }
}

.recommended-section {
    padding: 1rem;
    max-width: 1240px;
    margin: 0 auto;
}

.recommended-section__media-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
}

.media-card {
    /* height: 110px; */
    width: 164px;

    @media (min-width: 768px) {
        /* height: 140px; */
        width: 220px;
    }

    @media (min-width: 1024px) {
        /* height: 174px; */
        width: 280px;
    }
}

.media-card__image-container {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.media-card__image {
    display: block;
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.media-card__bookmark-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.media-card__body {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.media-card__body__info {
    font-size: .6875rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: var(--media-card-body-text-color);

    @media (min-width: 768px) {
        font-size: .8125rem;
    }
}

.media-card__body__info__type {
    display: flex;
    align-items: center;
    gap: 4px;
}

.media-card__body__title {
    font-size: .875rem;
    font-weight: 500;

    @media (min-width: 768px) {
        font-size: 1.125rem;
    }
}


